---
import Layout from "../layouts/Layout.astro";
---

<Layout title="// Landing Page modelo Phenico">
  <main>
    <h1 class="animate-flip-x">
      Bienvenido a la Landing Page Astro Modelo Phenico
    </h1>
    <p class="text-white">
      Esta es una página de inicio creada con Astro y utilizando un diseño
      personalizado.
    </p>
  </main>
</Layout>
