---
import Countdown from "@/sections/Countdown.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
---

<Layout title="// Landing Page modelo Phenico">
  <Hero />
  <main>
    <PrincipalDate />
    <Countdown />
  </main>
  <Footer />
</Layout>
