---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span
    class="animate-fade-in animate-delay-300 md:text-xl uppercase text-primary bg-secondary px-16 py-2 mb-10 font-medium"
    >Presentacion de</span
  >
  <HeroLogo class="text-secondary animate-fade-in-up" />

</section>
