<section class="flex font-medium text-secondary gap-y-20  flex-col">
  <!-- <div class="flex justify-center items-center">
    <a href="https://muga.dev" target="_blank" rel="noopener">
      <img
        src="./logo-muga.svg"
        alt="Este es el logo de las landings de MUGA.DEV"
        class="hover:scale-110 hover:opacity-80 transition inline-block mt-20"
      />
    </a>
  </div> -->
  <div class="uppercase grid grid-cols-1 md:grid-cols-3 text-center gap-x-40">
    <article
      class="py-14 px-10 border hover:shadow-xl transition easy-in-out border-secondary/20 order-1"
    >
      <h5>Implementación rápida</h5>
    </article>
    <article
      class="py-14 px-10 text-primary bg-secondary border transition easy-in-out border-secondary/20 order-3 md:order-2"
    >
      <h4>Modular y escalable</h4>
    </article>
    <article
      class="py-14 px-10 border hover:shadow-xl transition easy-in-out border-secondary/20 order-2 md:order-3"
    >
      <h5>Optimización integrada</h5>
    </article>
  </div>
</section>


