<section class="flex font-medium text-secondary gap-y-40 my-32 flex-col">
    <div class="flex justify-center items-center">
        <a href="" target="_blank" rel="noopener">
            <img src="./logo-landing-phenia.svg" alt="Este es el logo de las landings de MUGA.DEV">
        </a>
    </div>
  <div class="uppercase grid grid-cols-1 md:grid-cols-3 text-center gap-x-40">
    <article class="py-14 px-10 border-y-2 border-secondary/20 ">
      <h5>1. Implementación rápida</h5>
    </article>
    <article class="py-14 px-10 border-y-2 border-secondary/20 ">
      <h4>2. Estructura modular y escalable</h4>
    </article>
    <article class="py-14 px-10 border-y-2 border-secondary/20 ">
      <h5>3. Optimización integrada para convertir</h5>
    </article>
  </div>
</section>
