<section
  class="mt-4 mx-auto flex flex-col justify-center items-center text-center text-secondary"
>
  <h2 class="uppercase text-5xl font-semibold">
    Landing <span aria-hidden class="hidden md:inline mx1">•</span>
    <br class="block md:hidden" />
    page
  </h2>

  <h3 class="uppercasetext-2xl font-medium flex flex-col max-w-sm mt-6">
    <span>Un sitio web de</span>
    <span>muga.dev</span>
  </h3>

  <a
    class="border-secondary/30 border-2 px-6 py-2 mt-4 text-secondary
    transition-colors hover:bg-primary/10 focus:bg-primary/10 font-medium uppercase text-lg"
    href=""
    target="_blank"
    rel="noopener noreferrer">ingresar</a
  >
</section>
