---
import '../styles/global.css';
import '@fontsource-variable/jost/wght.css';
interface Props {
	title: string;
}
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODO" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: #dddbd9;
		font-family: 'Jost Variable', sans-serif, system-ui;
	}
</style>
